<div class="waves" style="overflow: hidden;">
  <svg
    preserveAspectRatio="none"
    viewBox="0 0 1200 120"
    xmlns="http://www.w3.org/2000/svg"
    style="fill: #2c3e50; width: 121%; height: 97px; transform: scaleX(-1);"
  >
    <path
      d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
      opacity=".25"
    />
    <path
      d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
      opacity=".5"
    />
    <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
  </svg>
</div>
<div class="p-3 container">
  <div class="card">
    <div class="card-title text-center rounded-bottom-5" style="background-color: #2c3e50;">
      <h3 class="p-lg-1 fw-bolder fs-4 text-light">Sales List</h3>
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div *ngFor="let sale of archive" class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ sale.client.name }} {{ sale.client.secondName }}</h5>
              <p class="card-text">SALE ID : {{ sale.id }}</p>
              <p class="card-text">CLIENT ID: {{ sale.client.id }}</p>
              <p class="card-text">Product ID: {{ sale.product.id }}</p>
              <p class="card-text">CLIENT CITY: {{ sale.client.city }}</p>
              <p class="card-text">PRODUCT PRICE: {{ sale.product.price }} $</p>
              <p class="card-text">Quantity Purchased: {{ sale.productQuantity }}</p>
              <p class="card-text">Year: {{ sale.year }}</p>
              <p class="card-text">Month: {{ sale.month }}</p>
              <button class="btn btn-outline-info" data-bs-toggle="modal" (click)="selectSale(sale)" data-bs-target="#myModal2">
                Update <i class="bi bi-building-up"></i>
              </button>

              <button class="btn btn-outline-info" data-bs-toggle="modal" (click)="selectSale(sale)" data-bs-target="#ModalClient">
                Client Details <i class="bi bi-database"></i>
              </button>

              <button class="btn btn-outline-info" data-bs-toggle="modal" (click)="selectSale(sale)" data-bs-target="#ModalProduct">
                Product Details <i class="bi bi-database"></i>
              </button>
              <button (click)="deleteArchive(sale);" class="btn btn-outline-danger">
                Delete <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="p-3 container">
          <div class="card">
            <div class="card-title text-center   rounded-bottom-5" style="background-color: #00008f;"><h3 class="p-lg-1 fw-bolder fs-4 text-light">Update reservation</h3></div>
            <div class="card-body">
              <div class="row">
                <h4 class="modal-title text-center fw-bold font-monospace">Edite your information</h4>
                <div><hr></div>
                <div class="col-md-6 ">
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="updateArchive(upd);" #upd="ngForm">
                    <div class="mb-3">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">Select Client</h5>
                        </div>
                        <div class="card-body">
                          <select class="form-select" [(ngModel)]="test.idClient" name="idClient">
                            <option value="">None</option>
                            <option *ngFor="let client of clients" [value]="client?.id || ''">
                             <span> FULL NAME: {{ client.name }} {{ client.secondName }}, CITY: {{ client.city }}</span>
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">Select Product</h5>
                        </div>
                        <div class="card-body">
                          <select class="form-select" [(ngModel)]="test.idProduct" name="idProduct">
                            <option value="">None</option>
                            <option *ngFor="let p of nl_products" [value]="p.id">
                              Product: {{ p.brand }}, Price: {{ p.price }} $
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col">
                          <label class="form-label">Year </label>
                        </div>
                        <div class="col">
                          <input class="form-control" [(ngModel)]="test.year" name="year">
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col">
                          <label class="form-label">Month </label>
                        </div>
                        <div class="col">
                          <input class="form-control" [(ngModel)]="test.month" name="month">
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col">
                          <label class="form-label">Quantity purchased </label>
                        </div>
                        <div class="col">
                          <input class="form-control" [(ngModel)]="test.productQuantity" name="productQuantity">
                        </div>
                      </div>
                    </div>

                    <div class="d-grid">
                      <button type="submit"  class="btn btn-outline-success" data-bs-dismiss="modal"> Save </button>
                    </div>
                  </form>
                </div>

                <div><hr></div>
                <div class="d-grid">
                  <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="ModalProduct">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productDetailsModalLabel">Product Details</h5>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="card1 card&#45;&#45;one">
          <span class="title">{{ selectedSale?.product?.brand }}</span>
          <div class="poster" *ngIf="!!selectedSale?.product?.id">
            <img src="assets/images/image{{selectedSale?.product?.id}}.jpeg" alt="Product Image">
          </div>
          <div class="details">
            <h1>Brand: {{ selectedSale?.product?.brand }}</h1>
            <p class="id">Product Id: {{ selectedSale?.product?.id }}</p>
            <p class="desc">Description: {{ selectedSale?.product?.desc }}</p>
            <p class="card-text">Price: {{ selectedSale?.product?.price }}</p>
            <p class="card-text">Quantity: {{ selectedSale?.product?.quantity }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal" id="ModalClient">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientDetailsModalLabel">Client Details</h5>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ selectedSale?.client?.name }} {{selectedSale?.client?.secondName }}</h5>
                <h6 class="card-text">Client Id: {{ selectedSale?.client?.id }}</h6>
                <h6 class="card-text">City: {{ selectedSale?.client?.city }}</h6>
                <h6 class="card-text">Phone Number: {{ selectedSale?.client?.phoneNumber }}</h6>
              </div>
            </div>
            <div class="col-md-4">
              <label >
                <img src="assets/images/person.jpg" class="img-fluid rounded-end clickable" alt="Client Photo">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


